################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tonilsz.github.io/FileContentIndex/03300c43-7ec9-4469-82a6-073eba88a08e.vsidx
/.vs/tonilsz.github.io/FileContentIndex/14a04b2f-35f1-41cc-8130-0d9de1103e8c.vsidx
/.vs/tonilsz.github.io/FileContentIndex/366c3895-ef42-4b09-89bc-b27b3f868726.vsidx
/.vs/tonilsz.github.io/FileContentIndex/e352d27d-1ae1-4f52-848b-e1a52701cca8.vsidx
/.vs/tonilsz.github.io/v17
/.vs/tonilsz.github.io/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
